<mat-card appearance="outlined">
    <mat-table [dataSource]="users$">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.firstName}} {{user.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.companyId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.position}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row 
            *matRowDef="let user; columns: displayedColumns"
            (click)="openUserDetail(user)"
            class="user-row">
        </mat-row>
    </mat-table>
</mat-card>

<button class="add-user-btn" color="primary" 
    (click)="openDialog()"
    mat-fab aria-label="Example icon button with a delete icon"
    [matTooltipPosition]="position"
    matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>